<?xml version="1.0" encoding="UTF-8" ?>  
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.productservice.dao.SkuStockMapper">

	<select id="selectPoBySo" resultType="com.test.productservice.domain.SkuStock">
		select t.* from ds_skustock t
		<include refid="sqlWhere" />
	</select>


	<select id="selectCount" resultType="long">
		select count(1) from ds_skustock t
		<include refid="sqlWhere" />
	</select>


	<insert id="insert" parameterType="com.test.productservice.domain.SkuStock"
		useGeneratedKeys="true" keyProperty="id">
		insert into ds_skustock(
		id,
		skuId,
		count,
		creator_Id,
		creator_name,
		updator_Id,
		updator_name,
		created_Time,
		updated_Time,
		re_mark,
		lock_version)
		values(
		#{id,jdbcType=BIGINT},
		#{skuId,jdbcType=BIGINT},
		#{count,jdbcType=INTEGER},
		#{creatorId,jdbcType=BIGINT},
		#{creatorName,jdbcType=VARCHAR},
		#{updatorId,jdbcType=BIGINT},
		#{updatorName,jdbcType=VARCHAR},
		#{createdTime,jdbcType=TIMESTAMP},
		#{updatedTime,jdbcType=TIMESTAMP},
		#{remark,jdbcType=VARCHAR},
		#{lockVersion,jdbcType=BIGINT})
	</insert>


	<delete id="delete">
		delete from ds_skustock
		where id=#{id}
	</delete>

	<delete id="deleteByIdList">
		delete from ds_skustock
		where skuId in
		<foreach item="item" index="index" collection="list" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</delete>

	<update id="updateStockBySkuIdAndCountOfBuy" parameterType="com.test.productservice.domain.SkuStock">
		update ds_skustock set
		count=count-#{count}
		where skuId=#{skuId} and
		count-#{count}>=0
	</update>


	<update id="update" parameterType="com.test.productservice.domain.SkuStock">
		update ds_skustock
		set
		id=#{id,jdbcType=BIGINT},
		skuId=#{skuId,jdbcType=BIGINT},
		count=#{count,jdbcType=INTEGER},
		creator_Id=#{creatorId,jdbcType=BIGINT},
		creator_name=#{creatorName,jdbcType=VARCHAR},
		updator_Id=#{updatorId,jdbcType=BIGINT},
		updator_name=#{updatorName,jdbcType=VARCHAR},
		created_Time=#{createdTime,jdbcType=TIMESTAMP},
		updated_Time=#{updatedTime,jdbcType=TIMESTAMP},
		re_mark=#{remark,jdbcType=VARCHAR},
		lock_version=#{lockVersion,jdbcType=BIGINT}
		where
		id=#{id,jdbcType=BIGINT}
	</update>


	<select id="selectVoBySo" resultMap="skuStockVoMapper">
		select t.* from ds_skustock t
		<include refid="sqlWhere" />
	</select>

	<select id="selectPoByPrimaryKey" resultMap="skuStockMapper">
		select t.* from
		ds_skustock t
		where t.id=#{id}
	</select>

	<resultMap type="com.test.productservice.domain.SkuStock" id="skuStockMapper">
		<id column="id" property="id" />
		<result column="skuId" property="skuId" />
		<result column="count" property="count" />
		<result column="creator_Id" property="creatorId" />
		<result column="creator_name" property="creatorName" />
		<result column="updator_Id" property="updatorId" />
		<result column="updator_name" property="updatorName" />
		<result column="created_Time" property="createdTime" />
		<result column="updated_Time" property="updatedTime" />
		<result column="re_mark" property="remark" />
		<result column="lock_version" property="lockVersion" />
	</resultMap>


	<resultMap type="com.test.productservice.vo.SkuStockVo" id="skuStockVoMapper">
		<id column="id" property="id" />
		<result column="skuId" property="skuId" />
		<result column="count" property="count" />
		<result column="creator_Id" property="creatorId" />
		<result column="creator_name" property="creatorName" />
		<result column="updator_Id" property="updatorId" />
		<result column="updator_name" property="updatorName" />
		<result column="created_Time" property="createdTime" />
		<result column="updated_Time" property="updatedTime" />
		<result column="re_mark" property="remark" />
		<result column="lock_version" property="lockVersion" />
	</resultMap>


	<sql id="sqlWhere">
		<where>
			<if test="skuIdList!=null and skuIdList.size>0">
				and t.skuId in
				<foreach item="item" index="index" collection="skuIdList"
					open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
		</where>
	</sql>

</mapper>